<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.financialmanager/menu.application" insertBefore="administration">
        <item screen="User.browse" caption="msg://com.company.financialmanager.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="Account.browse" caption="msg://com.company.financialmanager.screen.account/accountBrowse.menu"/>
        <item screen="Category.browse"
              caption="msg://com.company.financialmanager.screen.category/categoryBrowse.menu"/>
        <item screen="Transaction_.browse"
              caption="msg://com.company.financialmanager.screen.transaction/transactionBrowse.menu"/>
    </menu>

</menu-config>